@font-face {
	font-family: "laconic-bold";
	src: url("../font/laconic_bold-webfont.woff2") format("woff2"),
		url("../font/laconic_bold-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "rubik-regular";
	src: url("../font/rubik-regular-webfont.woff2") format("woff2"),
		url("../font/rubik-regular-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

html, body {
	min-height: 100%;
	line-height: 1.5;
	font-size: 16px;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}
*, *:before, *:after {
	box-sizing: inherit;
}

* {
	box-sizing: border-box;
}

body {
	color: white;
	background-color: #1c1c1c;
	margin: 0;
	font-family: "rubik-regular";
}
*{
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-family: "laconic-bold";
}
h1 {font-size: 4rem;}
h2 {font-size: 3.4rem;}
h3 {font-size: 2.8rem;}
h4 {font-size: 2.2rem;}
h5 {font-size: 1.6rem;}
h6 {font-size: 1rem;}

button {
	padding: 0.3rem 0.25rem;
	background-color: transparent;
	border: 1px solid lightgray;
	border-radius: 3px;
	text-transform: uppercase;
	color: #adadad;
	font-size: 1.2rem;
	font-family: "laconic-bold";
	letter-spacing: .1rem;
	transition: letter-spacing .15s;
}
button:hover {
	color: #d3d3d3;
	letter-spacing: 0.3rem;
}

fieldset, .canvas-container-inner {
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	border-right: none;
	border-left: none;
}

input[type=color] {
	padding: 0;
	background-color: gray;
	border: none;
	border-radius: 3px;
}

/* styling the range sliders */
/* zeroing out appearance */
input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  /* Hides the slider so custom styles can be added */
  background: transparent; 
  border-color: transparent;
  color: transparent;
}

/* now actually styling, first the slider */
/* chrome */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 20px;
  width: 10px;
  border-radius: 3px;
  background: green;
  cursor: pointer;
  margin-top: -7px; /* chrome only */
}

/* same for irefox */
input[type=range]::-moz-range-thumb {
  border: 1px solid #000000;
  height: 20px;
  width: 10px;
  border-radius: 3px;
  background: green;
  cursor: pointer;
}

/* same for IE */
input[type=range]::-ms-thumb {
  border: 1px solid #000000;
  height: 20px;
  width: 10px;
  border-radius: 3px;
  background: green;
  cursor: pointer;
}

/* then the track */
/* first chrome */
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: gray;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
/*when focused */
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}
/* now firefox */
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: gray;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
/* now ie */
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: gray;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
}
input[type=range]:focus::-ms-fill-lower {
  background: gray;
}
input[type=range]::-ms-fill-upper {
  background: gray;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}
/* range sliders complete */


/* experiment */

/*
@keyframes slideDown {
	0% {
		transform: translateX(-100%);
		
	}
	100% {
		transform: translateX(0);
	}
}

.wrapper {
	animation: 1s ease-out 0s 1 slideDown;
	overflow-y: hidden;
	z-index: -1;
}
*/
/* end experiment */


.page-head {
	/*background-color: #1c1c1c;*/
	background-color: black;
	color: white;
	padding: 0.5rem;
	border-bottom: 1px solid gray;
	z-index: 20;
}
.page-head h2 {
	display: inline-block;
}

.test {
	width: 10rem;
	border: 1px dotted red;
}

/* actual styles */
.wrapper {
	text-align: center;
}
.inner-wrapper {
	text-align: center;
}
.description {
	margin: 1rem 0;
}

.panel-container {
	
}
.panel-container hr {
	width: 35%;
	min-width: 8rem;
	text-align: center;
	margin: .5rem auto;
	border: none;
	color: #5e5e5e;
	background-color: #5e5e5e;
	height: 1px;
}
.canvas-container-outer {
	text-align: center;
}


.canvas-container-inner {
	position: relative;
}
#creep_canvas {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
}
#target_canvas {
}
.running {
	border-color: lightgray;
}

@media(min-width: 650px) {
	.panel-container,.canvas-container-outer {
		display: inline-block;
		vertical-align: top;
	}
	.panel-container {
		width: 40.625rem;
	}
	.inner-wrapper {
		display: inline-block;
	}
	.description {
		max-width: 41rem;
		display: inline-block;
	}
	fieldset, .canvas-container-inner {
		border-right: 1px solid gray;
		border-left: 1px solid gray;
	}
}

@media(min-width: 1328px) {
	.description {
		max-width: 82rem;
	}
}

/* utilities */
.spacer-top {
	margin-top: 1rem;
}
.spacer-bottom {
	margin-bottom: 1rem;
}
.ib {
	display: inline-block;
}