@font-face {
	font-family: "laconic-bold";
	src: url("../font/laconic_bold-webfont.woff2") format("woff2"),
		url("../font/laconic_bold-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

html, body {
	min-height: 100%;
	line-height: 1.25;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}
*, *:before, *:after {
	box-sizing: inherit;
}

* {
	box-sizing: border-box;
}

body {
	color: white;
	background-color: #1c1c1c;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-family: "laconic-bold";
}
h1 {font-size: 4rem;}
h2 {font-size: 3.4rem;}
h3 {font-size: 2.8rem;}
h4 {font-size: 2.2rem;}
h5 {font-size: 1.6rem;}
h6 {font-size: 1rem;}

canvas, fieldset {
	border: 1px solid gray;
}

/* styling the range sliders */
/* zeroing out appearance */
input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent; 
  border-color: transparent;
  color: transparent;
}

/* now actually styling, first the slider */
/* chrome */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 20px;
  width: 10px;
  border-radius: 3px;
  background: green;
  cursor: pointer;
  margin-top: -7px; /* chrome only */
}

/* same for irefox */
input[type=range]::-moz-range-thumb {
  border: 1px solid #000000;
  height: 20px;
  width: 10px;
  border-radius: 3px;
  background: green;
  cursor: pointer;
}

/* same for IE */
input[type=range]::-ms-thumb {
  border: 1px solid #000000;
  height: 20px;
  width: 10px;
  border-radius: 3px;
  background: green;
  cursor: pointer;
}

/* then the track */
/* first chrome */
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: gray;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
/*when focused */
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}
/* now firefox */
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: gray;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
/* now ie */
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: gray;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
}
input[type=range]:focus::-ms-fill-lower {
  background: gray;
}
input[type=range]::-ms-fill-upper {
  background: gray;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}
/* range sliders complete */

.page-head {
	background-color: #1c1c1c;
	padding: 0.5rem;
}
.page-head h2 {
	display: inline-block;
}

/* actual styles */
.wrapper {
	text-align: center;
}


.panel-container {
}
.canvas-container-outer {
	text-align: center;
}
.canvas-container-inner {
	position: relative;
}
#creep_canvas {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
}
#target_canvas {
}
.running {
	border-color: lightgray;
}

@media(min-width: 550px) {
	.panel-container, .canvas-container-outer {
		display: inline-block;
		vertical-align: top;
	}
	.panel-container {
	}
	.canvas-container-outer {
	}
	.inner-wrapper {
		display: inline-block;
	}
	.description {
		margin: 0 12rem 2rem 12rem;
	}
}

/* utilities */
.spacer-top {
	margin-top: 1rem;
}
.spacer-bottom {
	margin-bottom: 1rem;
}
.ib {
	display: inline-block;
}