<h5>Controls</h5>
<fieldset>
	<div title = "The maximum number of branches that will grow at one time from one spawn event" >
		<label for = "max_creepers_input">Max Branches</label>
		<input id = "max_creepers_input" type = "range" min = "20" max = "100" step = "1" ng-model = "pn.branch_params.max_creepers_per_spawn"/>
		<p>{{pn.branch_params.max_creepers_per_spawn}}</p>
	</div>
	<hr>
	<div title = "The speed at which the branches will grow and spread">
		<label for = "creep_velocity_input">Grow Speed</label>
		<input id = "creep_velocity_input" type = "range" min = "10" max = "75" step = "1" ng-model = "pn.branch_params.creep_velocity"/>
		<p>{{pn.branch_params.creep_velocity}}</p>
	</div>
	<hr>
	<div title = "Determines how closely spaced the attractors are. This cannot be changed once the animation has begun, you must click 'Clear' for this to take effect. Click 'Show Attractors' to see all the attractor nodes illuminated.">
		<label for = "attractor_frequency_input">Attractor Frequency &mdash; requires clear</label>
		<input id = "attractor_frequency_input" type = "range" min = "0.2" max = "1.0" step = "0.05" ng-model = "pn.branch_params.attractor_frequency"/>
		<p>{{pn.branch_params.attractor_frequency}}</p>
	</div>
	<hr>
	<div class = "spacer-bottom">
		<div class = "ib">
			Background Color
			<input type = "color" ng-model = "pn.branch_params.background_color"/>
		</div>
		<div class = "ib">
			Branch Color
			<input type = "color" ng-model = "pn.branch_params.creeper_color"/>
		</div>
	</div>
	<button ng-click = "pn.branch_params.main_reset()">Reset</button>
	<button ng-click = "pn.branch_params.paused = !pn.branch_params.paused">{{pn.branch_params.paused ? "Resume" : "Pause"}}</button>
	<button ng-click = "pn.branch_params.targets_visible = !pn.branch_params.targets_visible">{{pn.branch_params.targets_visible ? "Hide Attractors" : "Show Attractors"}}</button>
</fieldset>

