<div ng-click = "scp.toggle_visible()" id = "scp-ext-indicator"></div>
<div ng-show = "scp.visible" ng-click = "scp.visible = false" class = "scp-container">
	<div ng-click = "$event.stopPropagation()" class = "scp-picker">
		<div ng-click = "scp.visible = false" id = "scp-indicator"></div>
		<input 	type = "range" 
				ng-change = "scp.red_change()" 
				ng-model = "scp.red_val"
				id = "scp-red-input" 
				class = "scp-range" 
				min = "0.0" max = "1.0" step = ".01">
		<input 	type = "range" 
				ng-change = "scp.green_change()" 
				ng-model = "scp.green_val"
				id = "scp-green-input" 
				class = "scp-range" 
				min = "0.0" max = "1.0" step = ".01">
		<input 	type = "range" 
				ng-change = "scp.blue_change()" 
				ng-model = "scp.blue_val"
				id = "scp-blue-input" 
				class = "scp-range" 
				min = "0.0" max = "1.0" step = ".01">
	</div>
</div>